
h1, h2, h3, h4, h5, h6
{
    font-family: 'Poppins', sans-serif;
}

body, body *, body *::after, body *::before
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body 
{
    font-family: 'Open Sans', sans-serif;
}

body p 
{
    line-height: 1.6;
}

.intro 
{
    min-height: 100vh;
}